trainer:
  max_epochs: 107
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
    init_args:
      resume: allow
      project: "eomt"
      name: "cityscapes_semantic_eomt_base_640"
model:
  class_path: training.mask_classification_semantic.MaskClassificationSemantic
  init_args:
    attn_mask_annealing_enabled: True
    attn_mask_annealing_start_steps: [3317, 8292, 13268]
    attn_mask_annealing_end_steps: [6634, 11609, 16585]
    lr: 5e-5
    finetune_strategy: "last_n_blocks"   # options: "heads_only" | "last_n_blocks" | "full"
    unfreeze_backbone_blocks: 4          # unfreeze last N ViT blocks when using last_n_blocks
    unfreeze_backbone_norm: true         # also unfreeze backbone norm/fc_norm params
    network:
      class_path: models.eomt.EoMT
      init_args:
        num_q: 100
        num_blocks: 3
        logitnorm_enabled: true
        logitnorm_tau: 0.04
        logitnorm_eps: 1.0e-7
        encoder:
          class_path: models.vit.ViT
          init_args:
            backbone_name: vit_base_patch14_reg4_dinov2
data:
  class_path: datasets.cityscapes_semantic.CityscapesSemantic